<html>
    <head>

    </head>
    <body>
        <h1>Hello Contact page</h1>
        
        <form action="/predict2" method="post" >
            <input type="number" name = 'val1' placeholder="Val 1" required = 'required' />
            <input type="number" name = 'val2' placeholder="Val 2" required = 'required' />
            <input type="number" name = 'val3' placeholder="Val 3" required = 'required' />
            <input type="number" name = 'val4' placeholder="Val 4" required = 'required' />
            <input type="number" name = 'val5' placeholder="Val 5" required = 'required' />
            <input type="number" name = 'val6' placeholder="Val 6" required = 'required' />
            <input type="number" name = 'val7' placeholder="Val 7" required = 'required' />
            <input type="number" name = 'val8' placeholder="Val 8" required = 'required' />
            <button type="submit" >Submit</button>
            </form>
    </body>
</html>