<html>
    <head>

    </head>
    <body>
        <h1>Hello Home page</h1>
        <form action="/predict" method="post" >
            <input type="text" name = 'firstname' placeholder="firstnamess" required = 'required' />
            <input type="text" name = 'lastname' placeholder="lastname" required = 'required' />
            <input type="number" name = 'phonenumber' placeholder="mobilenumber" required = 'required' />
            <input type="email" name = 'mail' placeholder="email" required = 'required' />
            <button type="submit" >Submit</button>
      </form>

    </body>
</html>